@import '@/scss/global/color/_color-variables.scss';
@import '@/scss/global/layout/_media-queries.scss';

.container {
  grid-template-columns: min-content minmax(auto, 350px);
  @include breakpoint(xsm) {
    display: block;
  }
}
.role {
  line-height: 1;
}
.thumbnail {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 127%;
  min-width: 284px;
}
.imageContainer {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(100%);
}
.nameBlock {
  background-color: $white;
  width: 60%;
  max-width: 175px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bio {
  border-left: 2px solid $orange;
}
