@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../fonts/basiercircle-regular.woff2') format('woff2'),
    url('../../../fonts/basiercircle-regular.woff') format('woff');
}

@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../fonts/basiercircle-bold.woff2') format('woff2'),
    url('../../../fonts/basiercircle-bold.woff') format('woff');
}

@font-face {
  font-family: 'Bajern';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../fonts/bajern-webfont.woff2') format('woff2'),
    url('../../../fonts/bajern-webfont.woff') format('woff');
}
