@import '@/scss/global/layout/_media-queries.scss';

.container {
  position: fixed;
  display: grid;
  z-index: 10;
  grid-template-columns: minmax(auto, 1680px) minmax(var(--gutter), 1fr);
}

.content {
  column-span: 1 / 2;
}

.button {
  width: 230px;
  min-width: unset;
  max-width: unset;
  padding: 0;
  background-color: transparent;
}

@include breakpoint(sm) {
  .container {
    grid-template-columns: minmax(auto, 1680px);
  }
  .content {
    column-span: 1 / -1;
    padding: var(--c-04);
  }
  .button {
    width: 40px;
  }
}
