:root {
  --nav-height: 89px;
  --layout-container: 1440px;
  --gutter: 160px;
  @include breakpoint(xl) {
    --gutter: 96px;
  }
  @include breakpoint(lg) {
    --gutter: 64px;
  }
  @include breakpoint(md) {
    --gutter: 48px;
  }
  @include breakpoint(sm) {
    --nav-height: 64px;
  }
  @include breakpoint(xsm) {
    --gutter: 32px;
  }
}
