// * Core Colors
$black: #0e0d10 !default !global;
$white: #d6d3c7 !default !global;
$sage: #bfb48f !default !global;
$grey: #342e2b !default !global;
$orange: #ff3e00 !default !global;
$core-color-map: (
  'black': #0e0d10,
  'white': #d6d3c7,
  'sage': #bfb48f,
  'grey': #342e2b,
  'orange': #ff3e00,
);
