@import '@/scss/global/color/_color-variables.scss';
@import '@/scss/global/layout/_media-queries.scss';

.section {
  overflow: hidden;
}

.sectionHeader::after {
  content: 'founded \A 2020';
  white-space: pre;
  font-size: var(--fz-super);
  font-family: var(--ff-primary);
  font-weight: 700;
  text-align: right;
  line-height: 1;
  position: absolute;
  right: 0;
  opacity: 0.3;
  color: $orange;
  pointer-events: none;

  @include breakpoint(md) {
    content: '';
  }

  @include breakpoint(sm) {
    content: ' (swipe right)';
    font-size: var(--fz-xsm);
    font-family: var(--ff-primary);
    font-weight: 400;
    text-align: left;
    line-height: 1;
    position: relative;
    top: unset;
    left: unset;
    opacity: 1;
    color: $black;
    pointer-events: none;
  }
}

.thumbnailContainer {
  // flex-flow: row wrap;
  // max-width: 913px;
  grid-template-columns: repeat(2, minmax(auto, 430px));

  > :nth-child(odd) {
    padding-top: 0;
  }
  > :nth-child(even) {
    padding-top: var(--l-05);
  }
}

@include breakpoint(sm) {
  div.thumbnailContainer {
    overflow-x: scroll;
    display: flex;
    gap: unset;

    > :not(template) {
      margin-right: var(--l-05);
    }

    > :nth-child(even) {
      padding: 0;
    }
  }
}
