@import '@/scss/global/color/_color-variables.scss';
@import '@/scss/global/layout/_media-queries.scss';

.sectionHeader::after {
  content: 'founded \A 2020';
  white-space: pre;
  font-size: var(--fz-super);
  font-family: var(--ff-primary);
  font-weight: 700;
  text-align: right;
  line-height: 1;
  position: absolute;
  right: 0;
  opacity: 0.3;
  color: $orange;
  pointer-events: none;

  @include breakpoint(md) {
    content: '';
  }
}

.thumbnailContainer {
  > :nth-child(even) {
    padding-top: var(--l-05);
  }
}

@include breakpoint(md) {
  div.thumbnailContainer {
    flex-flow: column nowrap;
    align-items: center;

    > :not(template) {
      margin: 0;

      &:first-of-type {
        margin-bottom: var(--l-05);
      }
    }
  }
}
