@import '@/scss/global/color/_color-variables.scss';

.hero {
  height: calc(80vh - var(--nav-height));
  min-height: 480px;
  background: linear-gradient(rgba(14, 13, 16, 0.45), rgba(14, 13, 16, 0.45)),
    url('../../../../images/man-welding.jpg');
  background-size: cover;
}
h1.headline {
  color: $white;
}
.content {
  padding-right: var(--gutter);
}
